# Justin Sarenas 304675389
# Henry Ho 304723723

In [1]:
# The following line will import LogisticRegression and DecisionTreeClassifier Classes
# "LogisticRegression" and "DecisionTreeClassifier" are the names of a "sklearn classes" to perform Logistic Regression and Decision Tree based Classification 

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression

In [2]:
# Importing the required packages and libraries
# we will need numpy and pandas later
import numpy as np
import pandas as pd

# a- Read the dataset file “Credit.csv” (you should download it from CSNS), and assign it to a Pandas DataFrame.

In [3]:
#reading csv file and storing it directly in a dataframe
credit_df = pd.read_csv('credit.csv')

# b- Check out the dataset. The “Credit” dataset includes “balance” column (average credit card debt for a number of individuals) as target, as well as several features: age, cards (number of credit cards), education (years of education), income (in thousands of dollars), limit (credit limit), marital status, and rating (credit rating).

In [4]:
#checking the dataset every 10 lines
credit_df[0::10]

      Income  Limit  Rating  Cards  Age  Education  Married  Balance
0     14.891   3606     283      2   34         11        1      333
10    63.095   8117     589      4   30         14        1     1407
20    17.700   2860     235      4   63         16        0       89
30    34.142   5666     413      4   47          5        1      863
40    34.950   3327     253      3   54         14        0       50
50    36.362   5183     376      3   49         15        1      654
60    35.510   5198     364      2   35         20        0      631
70    24.889   3954     318      4   75         12        1      357
80    27.369   3449     288      3   40          9        1      162
90    20.191   5767     431      4   42         16        1     1023
100   21.153   3736     256      1   41         11        0      298
110   34.537   3271     250      3   57         17        1       47
120   27.241   1402     128      2   67         15        1        0
130   23.793   3821     281      4   56         12        1      868
140   39.831   6045     459      3   32         12        1     1425
150   63.931   5728     435      3   28         14        1      581
160   12.238   4865     381      5   67         11        0      836
170   34.772   2021     167      3   57          9        0        0
180   10.635   3584     294      5   69         16        1      423
190   55.187   5352     385      4   50         17        1      538
200   23.949   5343     383      2   40         18        1      829
210   24.543   3206     243      2   62         12        1       95
220   44.847   5765     437      3   53         13        0     1246
230   33.214   5137     387      3   59          9        0      661
240   29.705   3351     262      5   71         14        1      148
250   10.363   2430     191      2   47         18        1        0
260   67.937   5184     383      4   63         12        1      345
270   15.866   3085     217      1   39         13        0      136
280   53.401   5319     377      3   35         12        0      541
290   26.370   3235     268      5   78         11        1      159
300   21.786   4632     355      1   50         17        1      580
310   33.694   4891     369      1   52         16        0     1036
320   16.279   1160     126      3   78         13        1        5
330   20.405   4543     329      2   72         17        0     1054
340   27.794   3807     301      4   35          8        1      320
350   30.002   1561     155      4   70         13        1        0
360   53.566   5891     434      4   82         10        0      712
370   35.610   6135     466      4   40         12        0      992
380  115.123   7760     538      3   83         14        0      661
390  135.118  10578     747      3   81         15        1     1393

# c- Generate the feature matrix and target vector (target is “balance” in this dataset). Then, normalize (scale) the features (note: don’t normalize the target vector!).

In [5]:
# create a python list of feature names that would like to pick from the dataset:

feature_cols = ['Age', 'Cards', 'Education', 'Income', 'Limit', 'Married', 'Rating']

# use the above list to select the features from the original DataFrame

X = credit_df[feature_cols]

# print the first 5 rows
X.head()

   Age  Cards  Education   Income  Limit  Married  Rating
0   34      2         11   14.891   3606        1     283
1   82      3         15  106.025   6645        1     483
2   71      4         11  104.593   7075        0     514
3   36      3         11  148.924   9504        0     681
4   68      2         16   55.882   4897        1     357

In [6]:
## select a Series of labels (the last column) from the DataFrame

y = credit_df['Balance']

#print the first 5 rows

y.head()

0    333
1    903
2    580
3    964
4    331
Name: Balance, dtype: int64

In [26]:
#normalizing the features
X = preprocessing.scale(X)

#printing the dataset
X

array([[-1.2576741 , -0.6991298 , -0.78492991, ..., -0.48999879,
         0.79539491, -0.46553881],
       [ 1.5284506 ,  0.03103187,  0.49658831, ...,  0.82826106,
         0.79539491,  0.82870309],
       [ 0.88996369,  0.76119355, -0.78492991, ...,  1.01478681,
        -1.25723711,  1.02931059],
       ...,
       [ 0.65778663,  1.49135522, -0.46455035, ..., -0.24491264,
         0.79539491, -0.21963285],
       [-0.67723146, -1.42929148, -0.1441708 , ..., -0.95891584,
         0.79539491, -1.05441888],
       [ 0.48365384,  1.49135522, -2.06644812, ...,  0.34199278,
        -1.25723711,  0.38866085]])

# d- Split the dataset into testing and training sets with the following parameters: test_size=0.2, random_state=2.

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)

print(X_test)
print('\n')
print(y_test)

[[-0.61918719  0.03103187  0.49658831 -0.20482517 -0.7203364  -1.25723711
  -0.71144478]
 [-0.4450544  -0.6991298  -0.1441708   2.52731915  1.34576156 -1.25723711
   1.34639986]
 [-1.60593969  0.76119355  0.49658831 -0.85624211  0.40662612  0.79539491
   0.36277601]
 [ 0.94800795 -0.6991298   0.81696786  0.31355271  0.34069144  0.79539491
   0.33041996]
 [-1.14158557  0.03103187  0.17620875 -0.30508031  0.58751272 -1.25723711
   0.5633835 ]
 [-1.78007249  1.49135522  0.81696786 -0.88433854 -0.17897796  0.79539491
  -0.1872768 ]
 [ 0.77387516  0.76119355  0.81696786 -0.96680969  0.15763594 -1.25723711
   0.16216851]
 [ 1.70258339 -0.6991298   0.81696786  0.37306943 -0.14080525  0.79539491
  -0.1872768 ]
 [ 0.48365384 -0.6991298  -0.1441708   1.0649691   1.20174634  0.79539491
   1.1716772 ]
 [ 1.29627354  2.2215169   0.49658831  0.41647829  0.94147785 -1.25723711
   1.11343631]
 [-1.54789543 -0.6991298  -1.10530946 -0.480193   -0.14948086 -1.25723711
  -0.2519889 ]
 [-1.48985116 -1.42929148  0.49658831 -0.68985096 -0.64268964 -1.25723711
  -0.6596751 ]
 [ 0.59974236 -0.6991298  -1.42568902  0.3894898   0.73066038  0.79539491
   0.67339407]
 [ 0.83191942 -1.42929148  1.45772697 -0.69397025 -0.89515006 -1.25723711
  -0.97676437]
 [ 1.64453913  0.03103187  1.13734742  1.66686926  1.16270606 -1.25723711
   1.25580292]
 [-1.54789543  0.03103187  0.49658831  1.01255461 -0.28004889  0.79539491
  -0.12903592]
 [-0.96745278  2.95167857  1.77810653  2.41447885  2.32176837  0.79539491
   2.42709185]
 [ 0.5416981  -0.6991298  -0.1441708  -0.79269131 -1.475115   -1.25723711
  -1.4038642 ]
 [-0.27092161  1.49135522  1.45772697 -0.67237946  0.27952835  0.79539491
   0.42101689]
 [ 0.88996369  0.76119355 -0.78492991  1.68675551  1.01478681 -1.25723711
   1.02931059]
 [-1.48985116 -0.6991298  -1.42568902 -0.97632668 -0.35943077 -1.25723711
  -0.38141309]
 [-1.83811675 -0.6991298  -1.10530946 -0.54672673 -1.05304628 -1.25723711
  -1.02853405]
 [ 0.77387516  0.76119355 -0.78492991 -0.04769534 -0.79364536 -1.25723711
  -0.7955705 ]
 [-0.67723146 -1.42929148 -0.1441708  -0.21280808 -0.95891584  0.79539491
  -1.05441888]
 [ 1.12214075  0.76119355 -0.46455035 -0.57755043 -0.33904308  0.79539491
  -0.23904648]
 [ 1.5284506   0.03103187 -0.1441708  -0.7462427  -1.41004788 -1.25723711
  -1.46210508]
 [ 0.42560957  0.76119355  0.81696786 -0.78178228 -0.81359927 -1.25723711
  -0.77615687]
 [-1.08354131 -0.6991298  -0.78492991 -0.07641677  0.10861871  0.79539491
   0.09098521]
 [-1.31571837 -1.42929148 -1.42568902 -0.57939701  0.32941314 -1.25723711
   0.34983359]
 [ 0.65778663  1.49135522 -0.78492991 -0.9369519   0.05613124 -1.25723711
   0.16863972]
 [ 0.25147678 -0.6991298  -1.74606857 -0.34951189 -1.27947986  0.79539491
  -1.30032485]
 [-0.27092161  2.2215169  -0.78492991 -0.51107352 -0.54292005 -1.25723711
  -0.47201002]
 [ 0.07734398  0.03103187  0.49658831 -0.97945167 -1.2920595  -1.25723711
  -1.28738243]
 [-1.14158557 -0.6991298  -0.78492991 -0.84138423 -1.66120696  0.79539491
  -1.63035653]
 [ 1.81867192 -0.6991298  -1.42568902  0.74400493  1.03170426 -1.25723711
   1.01636817]
 [ 1.29627354  1.49135522 -0.78492991  1.51408599  1.74570746 -1.25723711
   1.79938453]
 [-1.02549705  0.03103187 -2.06644812 -0.39442642 -0.52470126 -1.25723711
  -0.42671156]
 [ 0.59974236  0.76119355 -1.10530946 -0.82144116  0.3168335   0.79539491
   0.37571843]
 [-0.85136425 -0.6991298   0.17620875  4.01745314  3.76452332  0.79539491
   3.84428674]
 [-0.67723146 -0.6991298   0.81696786  1.39130257  1.23211099  0.79539491
   1.11343631]
 [-0.90940852 -0.6991298   1.45772697 -0.60425483  0.26347846  0.79539491
   0.18158214]
 [ 1.58649486  0.03103187  0.49658831  0.48605178  0.21359367 -1.25723711
   0.14275488]
 [-0.85136425 -1.42929148 -0.78492991 -0.68368622 -0.43360729 -1.25723711
  -0.64026147]
 [-0.85136425  0.76119355  0.49658831 -0.81638437 -0.61145742 -1.25723711
  -0.56260696]
 [-1.31571837 -0.6991298  -1.10530946  1.32547906  0.87554317  0.79539491
   0.82870309]
 [-0.67723146 -0.6991298   1.13734742 -0.97965053 -0.42926948  0.79539491
  -0.48495244]
 [-0.32896587  0.76119355  1.13734742  0.28318355  0.26738249  0.79539491
   0.19452456]
 [ 1.41236207 -0.6991298  -0.1441708  -0.20854674  0.90720917 -1.25723711
   0.82223189]
 [-0.4450544  -0.6991298   0.81696786 -0.92720763 -0.3294999   0.79539491
  -0.41376914]
 [-1.60593969  0.03103187  0.17620875  0.5315913   0.43048407  0.79539491
   0.51808504]
 [-0.03874455  0.03103187  0.49658831 -0.80010604  0.16240753  0.79539491
   0.10392763]
 [ 0.88996369  1.49135522  0.17620875 -0.44073299 -0.6006129   0.79539491
  -0.60143422]
 [-0.09678881  0.03103187  0.81696786  2.176554    2.57553014 -1.25723711
   2.55651604]
 [ 0.77387516 -0.6991298   0.17620875  1.99717997  1.96780323 -1.25723711
   1.94822235]
 [ 0.25147678  0.76119355  1.45772697  0.88434508 -0.01674394 -1.25723711
  -0.07079503]
 [ 1.29627354 -0.6991298   0.49658831 -0.49351679  0.38320196  0.79539491
   0.40807447]
 [ 0.01929972  0.03103187  0.81696786 -0.60686845 -1.40310738  0.79539491
  -1.32620968]
 [-0.56114293  0.03103187 -0.1441708  -0.12312107  0.12033079  0.79539491
   0.1556973 ]
 [-0.96745278 -1.42929148 -0.1441708  -0.83388427 -0.71599859 -1.25723711
  -0.89263864]
 [-0.50309866  0.76119355 -2.70720723 -0.31468253  0.40358966  0.79539491
   0.37571843]
 [ 0.01929972  0.03103187  0.49658831 -0.7691403  -0.55289701  0.79539491
  -0.49142365]
 [-1.08354131 -0.6991298   0.81696786  0.28957557  0.26825005  0.79539491
   0.18158214]
 [-1.14158557 -0.6991298   0.17620875 -0.10849046 -0.94329973  0.79539491
  -0.90558106]
 [-0.90940852  1.49135522  0.81696786  0.65303951  0.8885566  -1.25723711
   0.93224245]
 [ 1.47040633  0.03103187  0.17620875 -0.39391506 -1.3146161   0.79539491
  -1.26149759]
 [ 0.19343251  0.03103187 -1.42568902 -0.34104603  0.17411961 -1.25723711
   0.20746698]
 [ 0.77387516  0.03103187  0.49658831 -0.24780789 -0.15512002  0.79539491
  -0.10315108]
 [-1.89616102 -0.6991298  -2.06644812 -0.59388557 -0.57545361  0.79539491
  -0.54966454]
 [-0.03874455  0.76119355  0.17620875  0.12167875  0.90373892  0.79539491
   0.9710697 ]
 [ 1.47040633  1.49135522 -1.42568902 -0.41672744  0.49164716 -1.25723711
   0.54396987]
 [-0.4450544  -0.6991298   0.49658831 -0.77223688 -1.38098456 -1.25723711
  -1.37797936]
 [-0.61918719 -0.6991298  -2.06644812  0.34426277  0.24916369 -1.25723711
   0.23982303]
 [ 0.59974236 -0.6991298   0.49658831  1.94431094  1.2681148   0.79539491
   1.18461962]
 [ 0.01929972  0.76119355  0.17620875 -0.47473849 -0.34815247  0.79539491
  -0.43965398]
 [-0.50309866  0.03103187  0.17620875  0.61846583  0.38103306  0.79539491
   0.48572899]
 [ 1.58649486 -0.6991298  -0.78492991  1.0980087   1.27158504 -1.25723711
   1.28815897]
 [ 0.94800795  1.49135522  1.13734742 -0.50303379 -0.05318153  0.79539491
  -0.07079503]
 [-1.60593969  0.76119355  0.17620875 -0.94371322 -0.24968423  0.79539491
  -0.22610406]
 [ 0.59974236 -1.42929148 -0.1441708  -0.98382664 -0.2978339   0.79539491
  -0.38141309]
 [-0.21287734 -0.6991298  -0.1441708  -0.24848971 -0.40324263 -1.25723711
  -0.29728737]]


94        0
32      526
225    1075
157    1020
356     962
25      671
67      889
189     126
304     905
226    1032
178     453
77      145
182     789
298       0
142     669
183       0
193    1426
393       0
346     907
2       580
289     485
392       0
84        0
398       0
70      357
318       0
20       89
236     489
382    1352
160     836
       ...
146     805
240     148
174    1573
314    1140
172     108
68      822
147       0
265     549
270     136
30      863
129     255
373    1003
258       0
203    1411
161       0
230     661
17      368
335     194
69     1084
274     967
286       0
204     456
41     1155
192     336
227     482
188     930
223     573
65      602
262     465
186     188
Name: Balance, Length: 80, dtype: int64

# e- Use Linear Regression to train a linear model on the training set. Check the coefficients of the linear regression model. Which feature is the most important? Which feature is the least important?

In [22]:
# In the following line, "my_linreg" is instantiated as an "object" of LinearRegression "class". 

my_linreg = LinearRegression()

my_linreg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [23]:
# printing Theta0 using attribute "intercept_":
print(my_linreg.intercept_)

# printing [Theta1, Theta2, Theta3] using attribute "coef_":
print(my_linreg.coef_)

524.201262211
[ -17.93570224   15.75381497    6.29572687 -266.58857043  224.9727995
  -23.60638685  384.17073326]

# The most important feature is Rating while the least important feature is Income.

# f- Predict “balance” for the users in testing set. Then, compare the predicted balance with the actual balance by calculating and reporting the RMSE (as we saw in lab tutorial 4).

In [28]:
# make predictions on the testing set
y_prediction = my_linreg.predict(X_test)

print(y_prediction)

[  187.83259081   696.19359653  1008.45870602   602.54553619  1005.89421809
   689.53276161   912.63981066   265.93761365   921.40430581  1097.28246448
   561.24806805   347.10203229   793.92182702   133.99552456   831.68509878
   154.29201659  1391.55139882  -127.61911507   946.8333401    719.02865483
   593.49954528    82.58696538    75.58160302   -69.92762404   480.22371194
  -153.93316298   290.58134942   588.66521868   908.95132202   887.83016569
  -215.31132242   421.56659575    31.96584993  -265.81389094   925.49231108
  1229.55288913   382.92814713   934.30680369  1763.56079475   845.73667161
   810.02069387   502.35960813   380.43477228   448.20831629   673.02981403
   492.00309225   589.86815721  1092.19775167   521.63311942   689.99089979
   799.4973836    265.38602315  1542.56678822  1188.82234981   303.81822799
   848.83393296  -152.65676468   634.77873681   266.10574461   828.42364016
   400.56060336   571.89835366   -15.19680339   982.77736906  -194.71974119
   751.71775232   486.69746454   333.10675258  1063.15591078   972.70541837
   -80.21890573   597.37341198   708.83693482   397.51259999   623.49553554
   997.69797824   614.01791858   655.87801862   519.98827377   407.09335709]

In [29]:
from sklearn import metrics
import numpy as np

# Calculating "Mean Square Error" (MSE):
mse = metrics.mean_squared_error(y_test, y_prediction)

# Using numpy sqrt function to take the square root and calculate "Root Mean Square Error" (RMSE)
rmse = np.sqrt(mse)

print(rmse)

154.410746767

# The rmse is 154.4107467 which is pretty high.

# g- Now, use 10-fold Cross-Validation to evaluate the performance of a linear regression in predicting the balance. Thus, rather than splitting the dataset into testing and training, use Cross-Validation to evaluate the regression performance. What is the RMSE when you use cross validation?

In [35]:
# importing the method:
from sklearn.cross_validation import cross_val_score

In [36]:
# Applying 10-fold cross validation with "linear regression":

# In the following line, "my_linreg" is instantiated as an "object" of LinearRegression "class". 
my_linreg = LinearRegression()

mse_list = cross_val_score(my_linreg, X, y, cv=10, scoring='neg_mean_squared_error')

print(mse_list)

[-23646.90415343 -32003.04401232 -35462.64435619 -37327.60719635
 -14341.32205939 -33628.37104224 -31631.99317834 -12491.00334951
 -20749.61212175 -23204.94743459]

In [37]:
# Notice that "cross_val_score" by default provides "negative" values for "mse" to clarify that mse is error.
# in order to calculate root mean square error (rmse), we have to make them positive!
mse_list_positive = -mse_list

# using numpy sqrt function to calculate rmse:
rmse_list = np.sqrt(mse_list_positive)
print(rmse_list)

[ 153.7754992   178.89394627  188.31527914  193.20353826  119.75525901
  183.38039983  177.85385343  111.76315739  144.04725656  152.331702  ]

In [38]:
# calculate the average RMSE as final result of cross validation:
print(rmse_list.mean())

160.331989107

# The rmse is 160.331989107 when using cross validation.